/*-----------------------
Base Styles
------------------------*/

html { scroll-padding-top: 5.95em; }

/* #page-container { min-height: 100vh; } */

body {

    margin-top: 4.5em;
	font-family: "Monorale", "Raleway", "Calibri", sans-serif;
	font-size: 100%;
    height: 100%;
    width: 100%;
    background-color: #E6E6E6;
    overflow-y: scroll;
}

main {

    float: left;
    width: 100%;
}

#center {

    width: 814px;
    margin: auto;
}

#banner {

    height: 8.2em;
    width: 100%;
    background-position: center;

}

#banner h1 {

    margin: 0;
    padding-top: 0.95em;
}

#wrapper {

    margin 0;
    overflow: hidden;
    padding-bottom: 1.25em;
}

#footer {

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.25em;
    color: #fff;
    background: #ccc;
    text-align: center;
    padding: 0.5em 0em 0.5em 0em;
    box-shadow: 0em 1em 1.5em 1em lightgray;
}

#footer_large {

    position: relative;
    bottom: 0;
    width: 100%;
    height: 1.25em;
    color: #fff;
    background: #ccc;
    text-align: center;
    padding: 0.5em 0em 0.5em 0em;
    box-shadow: 0em 1em 1.5em 1em lightgray;
}

#topbar {

    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    line-height: 1.2em;
    background-color: #444444;
    box-shadow: 0em -1em 1em 1em gray;
}

/* -----------------------
Text Sizes
------------------------*/

h1 {

    color: #ffffff;
    margin: 0.25em 0 0.25em 0;
    font-size: 3.7em; /* 5.50em */
    text-align: center;
    font-style: italic;
}

h2 {

    color: #c00;
    font-size: 1.375em; /* 1.375em */
    margin: 0 0 1em 0;
}

h3 {

    font-size: 1.125em; /* 1.125em */
    margin: 0 0 0.695em 0;

}

h4 {

    font-size: 1.125em;
    margin: 0 0 0.695em 0;
    font-style: italic;

}

h5 {

    font-size: 1.125em;
    margin: 0 0 0 0;
	line-height: 1.1;
    font-style: italic;
}

h6 {

    font-size: 1.125em;
    margin: -1em 0 1em 0;
	line-height: 1.1;
    font-style: italic;
}

p {

	margin: 0 0 0 0;
    font-size: 1em; /* .875em */
	line-height: 1.618em;
}

a { text-decoration: none; }
a:link { color: #C00; }
a:visited { color: #C00; }
a:focus { color: #C00; }
a:active { color: #C00; }

a:hover {

    color: #C00;
    transition: color 0.2s ease 0s;
}

a[href^="#top"] {

	font-size: .75em;
}

li {

    margin: 0.5em 0 0.5em 0;
    font-size: 1em; /* 1.1em */
	line-height: 1.1em;
}

#bulletwrap {

	margin: 0.5em 0 1em 0;
    overflow: hidden;
}

#bulletwrapend {

	margin: 0.5em 0 0em 0;
    overflow: hidden;
}

#datewrap {

    color: #c00;
    margin: -1.7em 0 0.695em 0;
    font-style: italic;

}

#locationwrap {

    margin: -1.72em 0 0.695em 0;
    font-style: italic;

}

label {display: block;}
input {display: block;}

/*-----------------------
Added Font
------------------------*/

@font-face {

    font-family: Monorale;
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.rawgit.com/samvk/monorale-raleway-sober/master/woff/Monorale-Regular.woff') format('woff');
}

/* -----------------------
Article Posts
------------------------*/

article {

	padding-top: 1.5em;
    overflow: hidden;
    box-shadow: 0 1em 1em -1em gray;
}

.post {

    padding: 1.5em;
    border-width: 1px;
    border-style: solid;
    border-color: #C6C6C6;
    background-color: rgb(255, 255, 255);
}

/* -----------------------
Table Styles
------------------------*/

table {

	border-spacing: 0;
	border-collapse: collapse;
	border-top: 1px solid #ddd;
    table-layout: fixed;
	margin: 1em 0 1em 0;
}

table#last {

    margin: 0 0 0 0;
}

tbody tr:nth-child(odd) {

	background-color: #E6E6E6;
}

th, td {

	font-size: 1em;
    padding: .6em 0 .6em 0;
	border: 1px solid #ddd;
	vertical-align: top;
	text-align: center;
	white-space: nowrap;
}

td:nth-child(1) {

    width: 16.18em;
}

td:not(:first-child) {

    width: 10em;
}

td:nth-child(4) {

    width: 16.18em;
}

caption {

	font-size: 1em;
	font-weight: bold;
	margin-bottom: .5em;
	text-transform: uppercase;
}

/**Responsive table styles sourced from http://maxdesign.com.au/articles/simple-responsive-table/
*See link for more responsive table styling options, explanation etc.
*/

.table-container /*Add a scrollbar to a table for small screen devices*/ {

	width: 100%;
	overflow-x: auto;
}

.table-container::-webkit-scrollbar /*Add the scrollbar to an iOS mobile browser*/ {

	-webkit-appearance: none;
	width: 14px;
	height: 14px;
}

.table-container::-webkit-scrollbar-thumb /*Add the scrollbar to an iOS mobile browser*/ {

	border-radius: 8px;
	border: 3px solid #fff;
	background-color: rgba(0, 0, 0, .3);
}

/* -----------------------
Image and Video Layout
------------------------*/

/**Makes images 100% width of containing element i.e. flexible
*Remove image width and height attributes from html!
*/

img {

	display: block;
    max-width: 100%;
    border: 1px solid;
    margin-top: 1%;
    margin-bottom: 1%;

    position: absolute;
    top: 0;
    z-index: -1;
}

.block {

  background: #ffffff;
  position: relative;
  margin-top: 100px;
  height: 1000px;
}

img.comparison {

    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

img.icon {

    padding-left: 0.8em;
    border: 0px solid;
    float: left;
    max-width: 3.5em;
    min-width: 1em;
    max-height: 3.5em;
    width: 100%;
    object-position: center;
}

.imageComparison {

    text-align: center;
    max-width: 100%;
}

.leftImage {

    max-width: 49.5%;
    float: left;
}

.rightImage {

    max-width: 49.5%;
    float: right;
}

.video-container {

    position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.video-container iframe {

    position: absolute;
	top: 0;
	left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid grey;
}

.iframe-container iframe {

    top: 0;
	left: 0;
	width: 100%;
	height: 20em;
    padding-left: 1px;
    padding-bottom: 0.8em;
    border: 1px solid grey;
}

div::-webkit-scrollbar {
  display: none;
}

/* --------------------------------------------------
Menu Navigation - vertical layout for smaller screens
---------------------------------------------------*/

#topbar {

    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

#menu {

    padding: 1.35em 0em 1.35em 0em;
	text-transform: uppercase;
	font-weight: bold;
    font-size: 1.2em;
    text-align: right;
}

#logo {

    float: left;
}

#logo h1 {

    font-size: 2.5em;
    text-align: left;
    padding: 0.665em 0em 0.665em 0.8em;
    margin: 0 0 0 0;
}

#logo a:link { color: #fff; }
#logo a:visited { color: #fff; }
#logo a:focus { color: #c00000; }
#logo a:active { color: #c00000; }
#logo a:hover { color: #ff0000;
                transition: color 0.2s ease 0s;
}

#menu li {

    display: inline;
    margin: 0 .5em 0 .5em;
}

#menu ul {

    margin: 0;
	padding: 0 0.8em 0 0;
	list-style: none;

}

#menu a { padding: 0; }
#menu a:link { color: #fff; }
#menu a:visited { color: #fff; }
#menu a:hover { color: #ff0000;
                transition: color 0.2s ease 0s; }
#menu a:active { color: #c00; }

-

/* ---------------------------------------------------
Wider screens - i.e. desktop, laptop, tablet landscape
----------------------------------------------------*/

@media (min-width: 51em)
{
	.banner
    {
        padding: 1.5em 3em 1.5em 3em;

    }

    main
	{
		float: left;
		width: 100%;
	}

    .article
    {
        padding-top: 2em;
        padding-left: 2em;
        padding-right: 2em;
    }

	footer
    {
        padding: 10px 0em 0em 0em;
        bottom: 0;
        right: 0;
    }

	#menu li
	{
		display: inline;
		margin: 0 0 0 0;
	}

	#menu a
	{
		display: inline;
		padding: 0;
		border-bottom: 0;
        color: #fff;
	}
}

/* ----------------------
Mobile screens - portrait
-----------------------*/

@media (max-width : 68em)
{
    #menu li:nth-child(1) { display: none; }
}

@media (max-width : 58em)
{
    #menu li:nth-child(2) { display: none; }
}

@media (max-width : 51em)
{
    #menu li
    {
        display: none;
    }

    #topbar
    {
        position: absolute;
        padding-bottom: 1px;
    }

    #banner
    {
        height: 6.8em;
        width: 100%;
        text-align: center;
        background-position: center;
    }

    #center
    {
        width: 100%;
    }

    main
    {
        width: 100%;
    }

    th, td
    {
        font-size: 100%;
        padding: .2em 1em .2em 1em;
        border: 1px solid #ddd;
        vertical-align: top;
        text-align: center;
        white-space: nowrap;
    }

    #footer {

        margin: 0.25em 0 0 0;
        position: relative;
    }
}

/*float/clear classes */

.fltrt
{  /* this class can be used to float an element e.g. image right in the page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: .5em;
}
.fltlt
{ /* this class can be used to float an element e.g. image left in the page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: .5em;
}
.clear
{ /* this class can be placed on an element or empty div as the final element following the last floated div */
	clear: both;
}
