/*---------
Base Styles
---------*/

html
{
    scroll-padding-top: 5.95em;
}

body
{
  background-color: #f9f9f9;
  font-family: "Monorale", "Raleway", "Calibri", sans-serif;
  font-size: 100%;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}

main
{
  float: left;
  width: 100%;
}

#wrapper
{
  margin: 0.125em 0 0 0;
  overflow: hidden;
}

#banner
{
  align-content: center;
  background-color: #ffffff;
  border: 1px solid #D1D1D1;
  border-bottom: 0;
  left: 0;
  line-height: 1.2em;
  margin: auto;
  margin-bottom: -1.5em;
  margin-top: 1.4em;
  top: 0;
  width: 812px;
  z-index: 1000;
}

#menu
{
  font-size: 1.625em;
  font-weight: bold;
  padding: 0.318em 0 0.2em 0;
  text-align: center;
  text-transform: uppercase;
}

#menu li
{
  display: inline;
  margin: 0 0.5em 0 0.5em;
}

#menu ul
{
  list-style: none;
  margin: 0 0 -10em 0;
  padding: 0;
}

#menu a         { padding: 0; }
#menu a:link    { color: #000000; }
#menu a:visited { color: #000000; }
#menu a:active  { color: #C00010; }

#menu a:hover
{
  color: #cc0010;
  transition: color 0.2s ease 0s;
}

#center
{
  margin: auto;
  width: 814px;
}

footer
{
  background: #E6E6E6;
  border-bottom: 1px solid #C6C6C6;
  border-top: 1px solid #C6C6C6;
  bottom: 0;
  color: #fff;
  font-weight: bold;
  height: 1.375em;
  padding: 0.5625em 0 0.4375em 0;
  position: relative;
  text-align: center;
  width: 100%;
}



/*--------
Font Sizes
--------*/

h1
{
  color: #c00;
  font-size: 4em;
  padding: 0.0675em 0 0 0;
  text-align: center;
}

h2
{
  color: #c00;
  font-size: 1.375em;
  margin: 0 0 0.55em 0;
  padding-top: 1.375em;
  text-align: center;
  text-transform: uppercase;
}

h3
{
  font-size: 1.125em;
  font-weight: bold;
  margin: 1.25em 0 0 0;
}

hr
{
  border: 0;
  border-top: 1px solid #000000;
  margin-bottom: 20px;
}

p
{
  font-size: 1em;
  line-height: 1.625em;
  margin: 0 0 -0.1875em 0;
  text-align: center;
}

a
{
  font-weight: bold;
  text-decoration: none;
}

a:link      { color: #000000; }
a:visited   { color: #000000; }
a:focus     { color: #000000; }
a:active    { color: #000000; }

a:hover
{
  color: #C00010;
  transition: color 0.2s ease 0s;
}

a[href^="#top"]
{
  font-size: 0.75em;
}

ul
{
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  text-align: center;
}

li
{
  font-size: 1em;
  line-height: 1.125em;
  margin: 0.5em 0 0 0;
}

li:nth-child(2n)
{
  color: #505050;
}

@font-face
{
  font-family: Monorale;
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.rawgit.com/samvk/monorale-raleway-sober/master/woff/Monorale-Regular.woff') format('woff');
}



/* ----------
Article Posts
-----------*/

article
{
  overflow: hidden;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

.post
{
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-top: 0;
  padding: 1.5em 1.5em 1.5625em 1.5em;
}

.list li
{
  line-height: 1.618em;
  margin: 0.5em 0 0em -1.35em;
}



/* ---------
Table Styles
----------*/

table
{
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.2;
  margin: 1em 0 1.618em 0;
  table-layout: fixed;
}

table#last
{
  margin: 0 0 0 0;
}

tbody tr:nth-child(odd)
{
	background-color: #E6E6E6;
}

th, td
{
  border: 1px solid #C6C6C6;
  font-size: 1em;
  padding: 0.625em 0 0.625em 0;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
}

.university-post th, td
{
  padding: 0.5882352955em 0 0.5882352955em 0; /* 0.625em - 1px for bold text */
}

.university-work
{
  margin: 1.3215em 0 0.3em 0;
}

td:first-child
{
  width: 16.18em;
}

td:not(:first-child):not(:last-child)
{
  width: 10em;
}

td:last-child
{
  width: 16.18em;
}

.aligned-divs table
{
  margin: 0.5em -2px 0.86em 0;
}

.aligned-divs td:not(:first-child)
{
  width: 30em;
}

.project
{
  overflow: hidden;
}

.project-outline
{
  background: #F0F0F0;
  border: 1px solid #C6C6C6;
  display: block;
  height: 11.6875em;
  text-align: center;
  width: 406px;
}

img.project
{
  border: 1px solid #C6C6C6;
  float: right;
  height: 187px;
  margin-bottom: 1.5em;
  margin-top: 0;
  width: 332px;
}

.table-container
{
  overflow-x: auto;
  width: 100%;
}

.university-work tr:first-child th
{
  padding-bottom: 0.55em;
  padding-top: 0.65em;
}

.university-work td:nth-child(1)
{
  width: 14.6875em
}

.university-work td:nth-child(2)
{
  width: 6em
}

.university-work td:nth-child(3)
{
  width: 6em
}

.university-work td:nth-child(4)
{
  width: 6em
}

.university-work td:nth-child(5)
{
  width: 14.6875em
}

#projects-page
{
  padding-bottom: 0;
}

#showcase-build td:nth-child(1)
{
  width: 4.9em;
}

#showcase-build td:nth-child(3)
{
  width: 7.5em;
}

#cpu-timings table
{
	margin-bottom: 0.5em;
}

#cpu-timings td:last-child
{
  width: 10em;
}

#cpu-timings td:last-child
{
  width: 10em;
}

#ram-timings table
{
	margin-bottom: 0.25em;
}

#ram-timings th:nth-child(4)
{
  background-color: #ffffff;
  border-style: none;
}

#ram-timings td:nth-child(4)
{
  background-color: #ffffff;
  border-style: none;
  width: 24px;
}

#ram-timings td:not(:nth-child(4))
{
  width: 122px;
}



/* -------------------
Image and Video Layout
--------------------*/

img
{
  border: 1px solid;
  display: block;
  margin-top: 0.5em;
  max-width: 100%;
}

img.comparison
{
  display: inline-block;
  margin-top: 0.25em;
  max-width: 100%;
}

.aligned-div-left
{
  float: left;
  max-width: 48.18%;
}

.aligned-div-right
{
  float: left;
  max-width: 48.18%;
  padding-left: 1.625em;
}

.iframe-container iframe
{
  border: 1px solid #404040;
  height: 29.84em;
  left: 0;
  margin-top: 0.5em;
  top: 0;
  width: 99.8%;
}

#showcase-build .aligned-div-left
{
  background-color: #F0F0F0;
  border: 1px solid #C6C6C6;
  float: left;
  margin-bottom: 0.5em;
  margin-top: 1.25em;
  padding-bottom: 0.9em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  width: 21em;
}

#showcase-build .aligned-div-right
{
  background-color: #F0F0F0;
  border: 1px solid #C6C6C6;
  float: right;
  margin-bottom: 0.5em;
  margin-top: 1.25em;
  padding-bottom: 0.9em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  width: 21em;
}



/* -------
Scrollbars
--------*/

.table-container::-webkit-scrollbar
{
  height: 14px;
  width: 14px;
  -webkit-appearance: none;
}

.table-container::-webkit-scrollbar-thumb
{
  background-color: rgba(0, 0, 0, 0.3);
  border: 3px solid #fff;
  border-radius: 8px;
}



/* -----------
Mobile Screens
-------------*/

@media (max-width : 52em)
{
  #menu
  {
    padding-bottom: 7.65em;
  }
    
  #menu li
  {
    display: block;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }

  #wrapper
  {
    background-color: #FFF;
  }

  #banner
  {
    background-position: center;
    border: 0;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    width: 100%;
  }

  #center
  {
    width: 100%;
  }

  .article
  {
    border: 0;
  }

  th, td
  {
    border: 1px solid #ddd;
    font-size: 100%;
    padding: 0.2em 1em 0.2em 1em;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
  }

  h3
  {
    text-align: left;
  }

  #footer
  {
    margin: 0.25em 0 0 0;
    position: relative;
  }

  img
  {
    height: min-content;
  }

  img.comparison
  {
    display: inline;
    max-width: 100%;
  }

  .aligned-div-left
  {
    float: left;
    max-width: 100%;
  }

  .aligned-div-right
  {
    max-width: 100%;
    padding-left: 0;
  }

  .aligned-divs table
  {
    align-content: center;
    margin: 0 0 0.86em 0;
    max-width: 100.2%;
  }

  iframe
  {
    height: 100%;
    width: 100%;
  }

  img.project
  {
    margin-bottom: -1px;
  }

  .project
  {
    margin-bottom: 1.5em;
  }

  .project-image
  {
    float: right;
    height: 99.5%;
    width: 99.5%;
  }

  .project-outline
  {
    float: right;
    height: 99.5%;
    width: 99.5%;
  }

  html
  {
    border: 1px solid #D1D1D1;
  }

  .post
  {
    border: 0;
  }

  article
  {
    background-color: #FFF;
    padding: 0;
  }
    
  footer
  {
    border-bottom: 0;
  }

}



/*------------------
Desktop Split Screen
------------------*/

@media (width : 59.875em)
{
  h1
  {
    font-size: 3.75em;
    padding: 0em;
  }
}